@import "./assets/reset";
@import "./assets/globales";


@import "./sections/header";
@import "./sections/body";
@import "./sections/index";
@import "./sections/elClub";
@import "./sections/socios";
@import "./sections/footer";

/* secciones */



/* seccion tienda */
/* Estilos generales para el menú */
.menu-tienda {
    background-color: #333;
    text-align: center;
}


.menu-tienda ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 18px;
    padding-bottom: 5px;
    height: 65px;
}

.menu-tienda li {
    font-size: 18px;
    padding-top: 1px;
}

.menu-tienda a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    height: 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.menu-tienda a:hover {
    background-color: #c20606;
    border-radius: 3px;
}

.container-desplegable button{
    font-size: 22px;
    font-weight: bold;
    border-radius: 7px;
}

.container-desplegable button:hover{
    background-color: #000;
}

#menuDesplegable ul li {
    text-align: center;
    list-style-type: none;
    background-color: #333333ad;
    border-radius: 7px;
    height: 50px;
    border: 3px solid white;
}

#menuDesplegable a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bolder;
}

#menuDesplegable li:hover{
    
    background-color: #ccc;
    transform: scale(1.0.9);
    transition: all 0.5s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


#menuDesplegable a:hover{
    color: black;
}



/* Media query para dispositivos móviles */

/* Mostrar el menú normal en pantallas más grandes */
@media (min-width: 769px) {
    .menu-tienda {
        display: block;
    }

    div .container-desplegable {
        display: none;
    }
}

/* Mostrar el menú hamburguesa en pantallas móviles */
@media (max-width: 768px) {
    .menu-tienda {
        display: none;
    }

    .container-desplegable {
        display: block;
    }
}
/* Estilos para pantallas más pequeñas (max-width: 768px) */
@media (max-width: 768px) {
    .menu-tienda ul {
        flex-direction: column; /* Cambiar a una disposición de columna */
        text-align: center;
        padding-top: 0;
        height: auto; /* Altura automática */
    }

    .menu-tienda li {
        font-size: 18px;
        padding: 5px 5px 5px 5px ; /* Espacio superior */
        margin: 0; /* Eliminar el margen */
    }

    .menu-tienda a {
        padding: 10px 0; /* Espacio vertical entre elementos */
        margin: 5px 0; /* Espacio vertical entre elementos */
        border-radius: 0; /* Eliminar el radio de borde */
        width: 100px;
        height: 10px;
    }
}




/* Estilos base que se aplicarán en pantallas grandes */
/* Estilos base que se aplicarán en pantallas grandes */

.contenedor-productos-tienda {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin:20px;
    padding: 35px 40px;
    justify-content: space-evenly
}
.card {
    overflow: hidden;
    cursor: pointer;
}

.card .contenido {
    padding: 15px;
    text-align: center;
}

.informacion-card  {
    text-align: center;
    align-items: center;
    font-size: 18px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: #fff;
}

.card:hover {
    transform: scale(1.1) !important;
    transition: all 0.5s ease !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important;
}



.precio {
    font-size: 22px;
    text-align: center;
}

.boton-producto {
    padding: 10px 8px;
    align-items: center;
    color: rgb(245, 245, 245);
    background-color: rgb(128, 128, 128);
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.42s ease;
}

.boton-producto:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    transition: all 0.42s ease;
    border-color: rgb(245, 245, 245);
}


  





/* seccion contacto */
.fondo-contenedor {
    background-image: url(../recursos/contacto/estadio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 7px !important;
    padding-bottom: 25px;
}

.container-contacto {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: e9ecef;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container-contacto form {
    display: grid;
    grid-gap: 10px;
}

.container-contacto label {
    background-color: ced4da;
}

.container-contacto label,
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;

}

.container-contacto button {
    background-color: rgb(74, 72, 72);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.container-contacto button:hover {
    background-color: red;
}

/* Media Query para hacer el formulario responsivo */
@media (max-width: 768px) {
    .container-contacto form {
        grid-template-columns: 1fr;
        /* Cambia a una columna */
    }

    .fondo-contenedor {
        background-image: none;
        background-color: gainsboro;
    }
}


/* Mostrar el menú normal en pantallas más grandes */
@media (min-width: 769px) {
    .hamburguesa {
        display: none;
    }

    .nav {
        display: block;
    }
}

/* Mostrar el menú hamburguesa en pantallas móviles */
@media (max-width: 768px) {
    .hamburguesa {
        display: block;
    }

    .nav {
        display: none;
    }
}

.navbar {
    height: 0;
}

.navbar img,
.navbar li,
.navbar button {
    display: none;
}

@media (max-width: 769px) {
    .navbar {
        height: auto;
    }

    .navbar img,
    .navbar li,
    .navbar button {
        display: block;
    }

}