.container-principal-club {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    p {
        text-align: justify;
    }

    .contenido-club {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;

        h2 {
            color: whitesmoke;
            background-color: rgb(103, 91, 91);
            height: 45px;
            text-align: justify;
            padding-left: 10px;
            border-radius: 7px;
        }

        h5 {
            text-decoration: underline rgb(205, 10, 10);
        }

        .ubicacion {
            font-weight: bolder;
            background-color: gray;
            color: white;
            width: 500px;
            padding-left: 5px;
            border-radius: 7px;
            max-width: 100%;
            margin: 0 auto;
            padding: 0 10px;
            box-sizing: border-box;
            margin-left: 0;
        }
    }

    .iframe-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: start;

        iframe {
            width: 100%;
            height: 500px;
        }
    }

    .iframe-container iframe,
    .iframe-container2 iframe {
        width: 100%;
        max-width: 560px;
        height: 315px;
        border: 0;
    }

    .iframe-container2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center !important;
    }

    @media (max-width: 1300px) {
        .iframe-container {
            flex-direction: column;
            align-items: center;
        }

        .iframe-container2 {
            align-items: flex-start;
        }
    }

    @media (max-width: 767px) {
        .ubicacion {
            width: 100%;
        }
    }
}