.footer {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    .enlaces {
        display: flex;
        flex-direction:column;
        align-items: center;
        position: relative;
        top: 2px;
        a {
            display: flex;
            margin: 0 10px;
            color: white;
            text-decoration: none;
            margin: 13px;
        }
    }
    .slogan-club {
        background-color: black;
        color: whitesmoke;
        font-size: 28px;
        font-family: $titulares bolder;
        text-align: center;

    }
}
